@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.company {
  margin: auto;
  width: 90vw;
  max-width: 1200px;
  font-family: 'Lato', 'Arial', 'sans-serif';
}

.company__return-link {
  margin-top: 12px;
  font-size: 2rem;
}

.company__header {
  font-family: 'Lato', 'Arial', 'sans-serif';
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
  padding-left: 24px;
  border-left: 2px solid turquoise;
}

.header__left-column {
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__image > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.header__basic-data {
  font-family: 'Lato', 'Arial', 'sans-serif';
  display: inline-block;
  padding-top: 12px;
  margin-left: 24px;
}

.header__overview {
  display: flex;
  margin-bottom: 24px;
}

.company__info {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  padding-right: 48px;
}

.company__description {
  font-family: 'Open Sans', 'Arial', 'sans-serif';
}

.company__news {
  padding-right: 48px;
}

.header__name {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 2.6rem;
  margin-bottom: 12px;
}

.header__symbol {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1.2rem;
  color: #888;
  display: inline-block;
}

.header__price {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 48px;
}

.header__priceChange {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 6px;
}

.company__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Lato', 'Arial', 'sans-serif';
}

@media only screen and (max-width: 1025px) {

  .company__header {
    grid-template-columns: 1fr;
  }

  .company__headerinfo {
    text-align: center;
  }

  .header__left-column {
    margin-bottom: 24px;
    justify-content: center;
    flex-direction: column;
  }

  .header__image {
    margin: auto;
  }

  .company__main {
    grid-template-columns: 1fr;
  }

  .company__info {
    margin-bottom: 24px;
    padding-right: 0;
  }
}

.company__info-line {
  font-family: 'Lato', 'Arial', 'sans-serif';
  margin-top: 12px;
}

.fundamentals {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fundamentals__container {
  font-family: 'Lato', 'Arial', 'sans-serif';
  display: inline-block;
  margin: 12px 0;
  align-self: center;
}

.fundamentals__label {
  color: #aaa;
}

@media only screen and (max-width: 1025px) {

  .fundamentals {
    grid-template-columns: 1fr 1fr;
  }

  .fundamentals__container {
    margin-bottom: 12px;
    text-align: center;
  }

}

.tooltip {
  font-size: 1.2rem;
}

.article {
  opacity: 0;
  font-family: 'Lato', 'Arial', 'sans-serif';
  display: flex;
  margin-bottom: 24px;
}

.article__info {
  padding-left: 24px;
}

.article__info > div > a:hover { 
  transition: all 0.2s ease;
}

.article__headline {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1.1rem;
  font-weight: 700;
}

.article__headline > a:hover {
  color: #888;
}

.article__summary {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 0.9rem;
}

.article__source {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 0.9rem;
  color: #888;
}

.article__source > a:hover {
  color: #ccc;
}

.article__image {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.article__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: center;
  border-radius: 6px;
}

.chart__container {
  text-align: center;
}

.chart__button-container {
  display: flex;
  justify-content: center;
}

.chart__button {
  font-size: 0.8rem;
  padding: 4px;
  margin: 12px 12px 0 12px;
  border: none;
  border-bottom: 2px solid white;
  background: white;
  cursor: pointer;
}

.chart__button:hover {
  background: #ccc;
}

.chart__button--highlighted {
  border-bottom: 2px solid turquoise;
}

.fade-in {
  transition: all 0.2s ease;
  opacity: 1;
}