.landing__container {
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', 'Arial', 'sans-serif';
}

.landing__title {
  font-size: 3.6rem;
}

.landing__desc {
  font-size: 1.8rem;
}