.landing {
  width: 100%;
  background-color: #111b30;
}

.landing__text > a > div {
  margin-top: 12px;
}

.landing__container {
  width: 90vw;
  max-width: 1200px;
  height: 90vh;

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: white;
}

.landing__title {
  font-size: 3.6rem;
  font-weight: 700;
}

.landing__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 48px;
}

.landing__image > img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 1024px) {

  .landing__container {
    grid-template-columns: 1fr;
  }

  .landing__text {
    text-align: center;
  }

  .landing__image {
    display: none;
  }
}

.landing__signin {
  display: inline-block;
  width: 240px;
  height: 48px;
  background: white;
  font-family: inherit;
  color: #222;
  border-radius: 4px;
  font-size: 1.1rem;
  line-height: 46px;
  margin-right: 24px;
}

.landing__signin:hover {
  transition: all 0.2s ease;
  background: #ccc;
}

.landing__signin--google {
  color: white;
  background: #4285F4;
}

.landing__signin--google > img {
  vertical-align: middle;
  display: inline;
  margin-right: 24px;
}

.landing__signin--guest {
  text-align: center;
}