@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

option {
  font-family: 'Heebo', 'Arial', 'sans-serif';
  font-size: 1rem;
}

.searchform__container {
  background: #111b30;
  margin-bottom: 100px;
  padding: 48px;
}

.searchform__title-text {
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Titillium Web', 'Heebo', 'Arial', 'sans-serif';
  font-weight: 600;
  font-size: 2rem;
  color: white;
}

.searchform {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  background: #111b30;
}

.searchform_button-container {
  flex-basis: 100%;
  text-align: center;
}

.searchform__submit-button {
  min-width: 200px;
  min-height: 48px;
  font-family: 'Titillium Web', 'Heebo', 'Arial', 'sans-serif';
  font-size: 1rem;
  color: black;
  background: white;
  margin: auto;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.searchform__submit-button:hover {
  background: #ccc;
}

label {
  font-family: 'Heebo', 'Arial', 'sans-serif';
  font-size: 1.1rem;
  display: block;
  color: white;
}

.searchform__field {
  display: inline-block;
  margin: 24px 48px;
}