@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

option {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1rem;
}

.searchform__container {
  background: #111b30;
  padding: 48px;
}

.searchform__title-text {
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.searchform {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  background: #111b30;
}

.searchform__field {
  display: inline-block;
  flex-grow: 1;
  margin: 24px 48px;
}

@media only screen and (max-width: 640px) {
  .searchform__field {
    margin: 24px 12px;
  }
}

.searchform_button-container {
  flex-basis: 100%;
  text-align: center;
}

.searchform__submit-button {
  min-width: 200px;
  min-height: 48px;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  background: white;
  margin: auto;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.searchform__submit-button:hover {
  background: #ccc;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  background-image: url('./../resources/select-arrow-bg.png');
  background-position: right center;
  padding: 4px;
  color: white;
  font-size: 1rem;
}

option {
  background-color: #274958;
  margin-top: 12px;
}

label {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 1.1rem;
  display: block;
  color: white;
}