@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

.searchform__container {
  background: black;
  margin-bottom: 100px;
}

.searchform__background-image {
  margin: auto;
  width: 90vw;
  max-width: 1200px;
  background: url('./search-bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.profile__container {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile__button-container {
  margin: 24px;
  display: flex;
  justify-content: center;
}

.profile__button {
  font-family: 'Titillium Web', 'Heebo', 'Arial', 'sans-serif';
  font-size: 1rem;
  background: #111b30;
  margin: auto;
  border: 0;
  border-radius: 6px;
  min-width: 200px;
  min-height: 48px;
  color: white;
  cursor: pointer;
}

.profile__button:hover {
  background: #888;
}